body{
    margin: 0px;
    padding: 0px;
}
.top-head{
    background: url(img/banner1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-bottom: 40px;
}
.menu{
    
    overflow: hidden;
}
.logo{
    float: left;
    margin-left: 40px;
    padding: 10px;
    margin-bottom: 40px;
}
.mini-menu{
    padding: 10px;
    margin-right: 20px;
    margin-top: 10px;
}
.mini-menu ul{
    text-align: right;
    
}
.mini-menu ul li{
    display: inline-block;
    margin: 10px;
}
.mini-menu ul li a{
    color: #000;
    font-size: 15px;
    text-decoration: none;
}
.mini-menu ul li a.active{
    color:#4ac9f0 ;
}
.mini-menu ul li a:hover{
    color: #4ac9f0;
    
}
.carousel{
    margin: 40px;
    padding-bottom: 80px;
}
.text-bg{
    margin-left: 70px;
}
.text-bg span{
    font-size: 55px;
    color:#020607;
    font-weight: bold;
    font-weight: 50px;
    text-transform: uppercase;
}
.text-bg h1{
    font-size: 65px;
    color: #4ac9f0;
    line-height: 80px;
    margin-top: -5px;
    font-weight: bold;
}
.text-bg p{
   font-size: 17px;
   padding: 10px;
   line-height: 30px;
   margin-top: -40px;
}
.contact-btn button{
    width: 150px;
    background-color: #020607;
    border: 1px solid #020607;
    border-radius: 8px;
    font-size: 17px;
    margin-bottom: 50px;
    padding: 10px;
    transition: 0.5s;
}
.contact-btn button a{
    color: #fff;
    text-decoration: none;
} 
.contact-btn button:hover {
    background-color: #4ac9f0;
    border:1px solid #4ac9f0;
}
/*box section start*/
.three-box{
    width: 100%;
    display: flex;
    margin-top: -38px;
    flex-wrap: wrap;
}
.box1{
    margin-left: 10px;
    margin-bottom: 20px;
    width: 32%;
    background-color: #4ac9f0;
    color: #fff;
    box-sizing: border-box;
    padding: 20px;
    float: left;
}
.box1 h5{
    color: #fff;
    background: #4ac9f0;
    border-radius: 45px;
    width: 70px;
    height: 60px;
    margin-top: -45px;
    text-align: center;
    margin-left: 150px;
    padding-top: 10px;
    font-size: 25px;
}
.box1 h3{
    text-align: center;
    font-size: 30px;
}
.box1 p{
    font-size: 18px;
    line-height: 30px;
    margin: 25px;
}
.box2{
    margin-left: 10px;
    margin-bottom: 20px;
    width: 32%;
    background-color: #fbe212 ;
    color: #fff;
    box-sizing: border-box;
    padding: 20px;
    float: left;
}
.box2 h5{
    color: #fff;
    background: #fbe212;
    border-radius: 45px;
    width: 70px;
    height: 60px;
    margin-top: -45px;
    text-align: center;
    margin-left: 150px;
    padding-top: 10px;
    font-size: 25px;
}
.box2 h3{
    text-align: center;
    font-size: 30px;
}
.box2 p{
    font-size: 18px;
    line-height: 30px;
    margin: 25px;
}
/*welcome section start*/
.welcome{
    margin: 40px;
}
.welcome-title{
    text-align: center;
    overflow: hidden;
}
.left{
    float: left;
    margin-left: 40px;
    font-size:30px;
}
.right{
    float: right;
    margin-right: 79px;
    margin-top: 25px;
    font-size: 18px;
}
#welcome-img{
    text-align: center;
    margin-bottom: 30px;
}
.welcome-img1{
    float: left;
    width: 45%;
     margin-left: 40px;
    box-sizing: border-box;
    border: 20px solid #230c0c;
    margin-bottom: 30px;
    
}
.welcome-img2{
    width: 45%;
    margin-right: 40px;
    float: right;
    box-sizing: border-box;
    border: 20px solid #230c0c;
    margin-bottom: 30px;
    
}
#our-work{
    background-color: #023041;
    padding: 30px;
}

.work-title h2{
    font-size: 70px;
    color: #fff;
    margin-left: 80px;
}
.slide{
    display: flex;
    width: 100%;
 
}
.slide-img1{
    float: left;
    width: 30%;
    margin-top: 70px;
    margin-right: -60px;
    margin-left: 100px;
}
.slide-img1 p{
    font-size: 18px;
    color: #fff;
    width: 80%;
}
.slide-img2{
    width: 30%;
    margin-right: 20px;
}
.slide-img2 p{
    font-size: 18px;
    color: #fff;
    width: 80%;
    text-align: center;
    margin-left: 40px;
}
.slide-img3{
    width: 30%;
    margin-top: 70px;
    margin-left: 20px;
    
}
.slide-img3 p{
    font-size: 18px;
    color: #fff;
    width: 80%;
    margin-left: 40px;
}
/*cac section start*/
.cac{
    margin: 50px;
    text-align: center;
}
/*customer rev section*/
.customer-rev{
    background-size: 100% 100%;
    padding: 40px;
    background: url(img/banner.jpg);
    text-align: center;
   
}
.rev-title{
    font-size: 30px;
    color: #fff;
    
}
.rev-title span::after{ 
    position: absolute;
    content: "";
    background: #4ac9f0;
    width: 100px;
    height: 15px;
    text-align: center;
    margin-top: -20px;
    margin-left: -45px;
 
}
.customer-img h5{
    color: #fff;
    font-size: 20px;
   
}
.r-img{
    margin-top: 40px;
}
.rev p{
    color: #fff;
    font-size: 18px;
    margin-left: 80px;
    margin-right: 30px;
    
}
.r-btn button{
    width: 170px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 17px;
    margin-bottom: 50px;
    padding: 10px;
    transition: ease-in all 0.5s;
}
.r-btn button a{
    color: #000;
    text-decoration: none;
} 
.r-btn button a{
    color: #000;
    text-decoration: none;
} 
.r-btn button:hover {
    background-color: #4ac9f0;
    border:1px solid #4ac9f0;
}
/*request section start*/
.req{
    background: #4ac9f0;
    padding: 40px;
    color: #fff;
}
.req-titl {
    margin-left:50px;
}
.req-titl h2{
    color: #fff;
    font-size: 50px;
}
.req-form {
    width: 50%;
    margin-left:50px;
}
.name{
  width: 90%;
  padding: 10px;
   margin: 10px;
   border:1px solid #fff;
   border-left: 0px;
   border-right: 0px;
   border-top: 0px;
   background-color: #4ac9f0;
   color: #fff;
   font-size: 19px;
    
}
.submit{
    width: 170px;
    background-color: #041d2c;
    border: 1px solid #041d2c;
    border-radius: 8px;
    font-size: 17px;
    margin-bottom: 50px;
    padding: 12px;
    transition: ease-in all 0.5s;
    margin-left:10px;
    margin-top:30px ;
    color: #fff;
}
.submit:hover{
   background-color: azure;
   border: 1px solid azure ;
   color: #000;
}
